<tr>
  <td><%=link_to lease.mac, "/leases/#{lease.id}"%></td>
  <td></td>
  <td><%=lease.name%></td>
  <td><%=lease.scope.description%></td>
  <td><%=lease.scope.comment%></td>
  <td><%=lease.ip%></td>
  <td><%=lease.expiration%></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td><%=lease.scope.server.ip%></td>
</tr>