<tr>
  <td><%=link_to lease.device.mac, "/leases/#{lease.id}"%></td>
  <td>
    <div class='dropdown'>
      <a id='<%=lease.id%>' class="dropdown-toggle" data-toggle="dropdown" data-target="#" role="button" aria-haspopup="true" aria-expanded="false">
        <% if lease.device.list.name.match('U') %>
          <span class="glyphicon glyphicon-unchecked text-primary" aria-hidden="true"></span>
        <% elsif lease.device.list.name.match('W') %>
          <span class="glyphicon glyphicon-thumbs-up text-success" aria-hidden="true"></span>
        <% elsif lease.device.list.name.match('B') %>
          <span class="glyphicon glyphicon-thumbs-down text-danger" aria-hidden="true"></span>
        <% end %>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to(device_path(lease.device, params: { list: List.find_by_name('Unassigned') }), method: :put) do %>
              <span class="glyphicon glyphicon-unchecked text-primary" aria-hidden="true"></span>  Remove From List
            <% end %>
        </li>
        <li><%= link_to(device_path(lease.device, params: { list: List.find_by_name('Whitelist') }), method: :put) do %>
              <span class="glyphicon glyphicon-thumbs-up text-success" aria-hidden="true"></span>  Add to Whitelist
            <% end %>
        </li>
        <li><%= link_to(device_path(lease.device, params: { list: List.find_by_name('Blacklist') }), method: :put) do %>
              <span class="glyphicon glyphicon-thumbs-down text-danger" aria-hidden="true"></span>  Add to Blacklist
            <% end %>
        </li>
      </ul>
      <span id='<%=lease.id%>' class="fingerprint flaticon-fingerprint21"></span>
    </div>
  </td>
  <td><%=lease.name%></td>
  <td><%=lease.ip%></td>
  <td><%=lease.expiration%></td>
  <td></td>
</tr>