<tr>
  <td><span class='glyphicon <%= list.glyph.name %>'></span></td>
  <td><%= list.name %></td>
  <td><%= Device.where(list: list).count ||= 0 %></td>
  <td>
    <% if list.name.match('Unassigned') %>
      <% list_disabled = 'disabled' %>
    <% elsif list.name.match('Whitelist') %>
      <% list_disabled = 'disabled' %>
    <% elsif list.name.match('Blacklist') %>
      <% list_disabled = 'disabled' %>
    <% else list_disabled = '' %>
    <% end %>
    <%= link_to edit_list_path(list), { class: "btn btn_link btn-xs #{list_disabled}" } do %>
      <span class='glyphicon glyphicon-pencil'></span>
    <% end %>
    <%= link_to list_path(list), { method: :delete, class: "btn btn_link btn-xs #{list_disabled}",
                                  data: { confirm: "All list members will become 'Unassigned'\nDelete list named '#{list.name}'?" }} do %>
      <span class='glyphicon glyphicon-remove'></span>
    <% end %>
  </td>
</tr>
