<tr>
  <td><span class='glyphicon <%= list.glyph %>'></span></td>
  <td><%= list.name %></td>
  <td><%= Device.where(list: list).count ||= 0 %></td>
  <td>
    <% if list.name.match('Unassigned') %>
      <% list_disabled = 'disabled' %>
    <% elsif list.name.match('Whitelist') %>
      <% list_disabled = 'disabled' %>
    <% elsif list.name.match('Blacklist') %>
      <% list_disabled = 'disabled' %>
    <% else list_disabled = '' %>
    <% end %>
    <%= link_to edit_list_path(list), { class: "btn btn_link btn-xs #{list_disabled}" } do %>
      <span class='glyphicon glyphicon-pencil'></span>
    <% end %>
    <button type='button' class="btn btn-link btn-xs" data-toggle="modal" data-target="#list_delete" <%= list_disabled %> >
      <span class='glyphicon glyphicon-remove'></span>
    </button>
  </td>
</tr>
