  <% if yield(:description).match(/^Home$/) %>
    <div class='modal fade' id='filter' role='dialog'>
      <div class='modal-dialog'>
        <div class='modal-content'>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Set Filters</h4>
          </div>
          <div class="container modal-body">
            <div class="row">
              <%= search_form_for @search, {class: 'form-inline'} do |f| %>
              <div class='col-md-2'>
                <div class="field">
                  <%= f.label 'List Status' %>
                  <%= f.collection_check_boxes :device_list_id_in_any, List.all, :id, :name do |b| %>
                  <div class="collection-check-box">
                    <%= b.check_box %>
                    <%= b.label %>
                  </div>
                  <% end %>
                </div>
              </div>
              <div class='col-md-4'>
                <div class="field">
                  <%= f.label 'Server' %>
                  <%= f.collection_select(:scope_server_id_eq, Server.all, :id, :name, include_blank: true) %>
                </div>
                <div class="field">
                  <%= f.label 'Scope' %>
                  <%= f.collection_select(:scope_id_eq, Scope.all, :id, :ip, include_blank: true) %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class='col-md-6'>
                <%= f.submit "Submit", class: "btn btn-primary pull-right" %>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>