<!DOCTYPE html>
<html lang='en'>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class='container'>
      <% if yield(:title).match('Layer') %>
        <%= link_to yield(:title), '/l2s2', id: "logo" %></li>
      <% else %>
        <%= link_to yield(:title), '/r2d2', id: "logo" %></li>
      <% end %>
      <div class="container">
        <nav>
          <p class="navbar-text">Viewing: <%= yield(:description) %></p>
          <ul class="nav navbar-nav navbar-right">
            <% if yield(:title).match('Layer') %>
              <li><%= link_to 'r2d2', '/r2d2' %></li>
            <% else %>
              <li><%= link_to 'l2s2', '/l2s2' %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <div class='container'>
    <%= yield %>
  </div>
</body>
</html>
